.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.itemContainer {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.itemContainer h2 {
  margin-top: 15px;
  font-size: 1.5rem;
}

.itemContainer p {
  color: #00b8a9;
  font-size: 1.3rem;
  font-weight: 600;
}

.itemBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
